.age-form {
  background-color: white;
  border-radius: 50px;
  padding: 60px 63px;
}

.form-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.verify-text {
  margin-bottom: 30px;
  font-style: italic;
}

.coffee {
  color: #cc905d;
}

.cocktails {
  color: #9a5580;
}

.select-inputs {
  display: flex;
  gap: 30px;
}

.select-inputs > * {
  width: 155px;
}
